<div class="title">
  3. Results
</div>
<% @routers.each { |router| %>
  <h2><%= router_text_hash router %></h2>
  <div id="router<%= router[:id] %>icon" class="result_icon"></div>
  <div class="result">
    <div id="router<%= router[:id] %>">
      <center><img src="/images/loading.gif"></center>
    </div>
  </div>
<% } %>
<script>showCurrentStep();</script>