<div id="title"><a href="http://www.interdominios.com/">Interdominios</a> Web Hosting, <a href="http://www.interdominios.com/vps">Vps</a> - Looking glass</div>
<div id="steps" style="display: none;"></div>
<div class="box shadow" id="content">    
    <div id="page">
      <img src="/images/mirror.png"><br/><br/><br/>
      <p>Welcome to the Interdominios looking glass service. We are glad to have you
         here. Press 'next' to start the wizard.</p>
    </div>
</div>
<div id="nextbg" class="nextbg">
  <div id="next" class="globalcontent next">
    <a onclick="fetchNextStep();" href="javascript:void(0);">
      <div id="nextlink" class="next_overlay"></div>
      <div id="nextlink" class="next_overlay2"></div>
    </a>
  </div>
</div>
<div id="restart_wizardbg" class="nextbg" style="display: none;">
  <div id="next" class="globalcontent next">
    <a onclick="fetchFirstStep();" href="javascript:void(0);">
      <div class="next_overlayrestart"></div>
      <div class="next_overlay2"></div>
    </a>
  </div>
</div>