<!DOCTYPE html>
<html>
<head>
  <TITLE>Interdominios - Looking glass - Vps - Hosting</TITLE>
  <META NAME="description" CONTENT="Traceroute, ping, looking glass by interdominios from our routers.">
  <META NAME="keywords" CONTENT="traceroute, ping, web hosting, vps, interdominios, looking glass, router,">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="full_content">
  <%= yield %>
</div>
<div id="warning" style="display: none;"></div>
</body>
</html>
